@model PagedList.IPagedList<ElectronicStoreConnection.View_YearStatistic>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sales Statistics By Year";
}
<div class="panel panel-success">
    <div class="panel-heading">
        @Html.PagedListPager(Model, page => Url.Action("DayStatistics", new { page = page }), PagedListRenderOptions.Minimal)
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Fiscal Year
                    </th>
                    <th>Revenue</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Year</td>
                        <td>@item.Revenue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

