
@{
    ViewBag.Title = "Finish";
}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    You've ordered successfully! <a href="#" class="alert-link">Order Details</a>.
</div>